# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
.next/
out/
build/
coverage/

# Environment
.env
.env.local
.env.*.local
!**/.env.example

# Logs & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Docker
docker-data/
